<div class="container">
	<form name="searchForm" ng-submit="find_seasons(search);" novalidate>
		<input ng-model='search' name='search' type="text">
		<input type="submit">
	</form>
</div>


<div class="container">

<div class="row">
	<div class="col s3 teal lighten-2">
		<table class="hoverable">
			<tbody>
				<tr ng-repeat="(k,v) in json" > 
					<td ng-click="setSeason(k)">Season: {{(k-0)+1}}</td>
				</tr>
			</tbody>
		</table>


	<!-- Grey navigation panel -->
	</div>

	<div class="col s9 teal">
    <!-- Teal page content  -->

		<ul ng-repeat="episode in currentSeason" ng-controller = 'TweetCtrl as tweet'>
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s9">
							<span class="card-title activator grey-text text-darken-4">Episode: {{episode.number}} | "{{episode.name}}" | Airdate: {{episode.airdate | date}}
						</div>
						<div class="col s3">
							<p ng-hide="tweets.length" ng-click="find_tweets('scrubs', '2015-02-25', '2015-02-26')" class="right-align">
								<a class="waves-effect waves-teal btn-flat"> Listen in!  </a><i class="small material-icons">volume_up</i>
							</p>
							<p ng-show="tweets.length" ng-click="empty_tweets()" class="right-align">
								<a class="waves-effect waves-teal btn-flat"> Shh...  </a><i class="small material-icons">volume_off</i>
							</p>					
						</div>
					</div>




				</div>
				<ul class="card-action">
					<li ng-repeat='tweet in tweets'>+ {{tweet}}</li>
				</ul>

				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Summary<i class="material-icons right">close</i></span>
						<p ng-if="episode.summary">{{episode.summary}}</p>
						<p ng-if="!episode.summary"> Whoops, doesn't seem like a summary was provided by my makers :(</p>
					<p>{{episode.summary}}</p>
				</div>
			</div>
		</ul>


	</div>
</div>

</div>