<h1>Episodes#index</h1>
<p>Find me in app/views/episodes/index.html.erb</p>
	


<div class="row">

  <div class="col s3 teal lighten-2">
  	<p>{{seasons.test}}</p>
    <!-- Grey navigation panel -->
  </div>

  <div class="col s9 teal">
  	<p>main content</p>
    <!-- Teal page content  -->
  </div>

</div>

