<nav class="teal darken-3" id='title'>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo left">Still Trending <i class="material-icons left">chat_bubble_outline</i> </a> 
		<ul id="nav-mobile" class="right">
			<li><a id='nyan' ng-click='changeNyan()'>TOGGLE NYAN!</a></li>
		</ul>
		
		<div class="right">
			<form>
				<div class="input-field">
					
				<input name='search' class="field" id='search-field' type="search" ng-model="search" ng-change="setTimer()" placeholder="  (search TV series)">

				<label for="search-field">
					<i class="mdi-action-search prefix"></i>
				</label>
				</div>
			
			</form>
		</div>
		
	

	</div>	
</nav>


<div ng-hide='nyan'> 


<div class="container">

<div class="row teal lighten-2">
	<p>
		
	</p>
</div>

<div class="row" id="seasons">
	<div class="col s3 teal">
		<table class="hoverable">
			<tbody>
				<tr ng-repeat="(k,v) in json" > 
					<td class="seasons" ng-click="setSeason(k)">Season: {{(k-0)+1}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col s9 teal" id="episodes">
		<ul ng-repeat="episode in currentSeason" ng-controller = 'TweetCtrl as tweet'>
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s5">
							<span class="card-title activator grey-text text-darken-4" ng-click="test(episode.summary);">Episode: {{episode.number}} | "{{episode.name}}"  
							<br>
							Airdate: {{episode.airdate | date}}
							</span>
						</div>
						<div class="col s4">

							<p ng-hide="tweets.length" ng-click="setEpisode(episode.airdate)" class="right-align">
								<a class="waves-effect waves-teal btn-flat"> Listen in!  </a><i class="small material-icons">volume_up</i>
							</p>

							<p ng-show="tweets.length" ng-click="empty_tweets()" class="right-align">
								<a class="waves-effect waves-teal btn-flat"> Shh...  </a><i class="small material-icons">volume_off</i>
							</p>			

						</div>
					</div>


				</div>
				<ul ng-show='tweets.length > 0' class="card-action collection">
					<li ng-repeat='tweet in tweets' class="collection-item">{{tweet}}</li>
				</ul>

				<div class="card-reveal" ng-click="test();">
					<span class="card-title grey-text text-darken-4">Summary<i class="material-icons right">close</i></span>
						<p ng-if="episode.summary">{{episode.summary | clean }}</p>
						<p ng-if="!episode.summary"> Whoops, doesn't seem like a summary was provided by my makers :(</p>
				</div>
			</div>
		</ul>


	</div>
</div>

</div>
</div>