<div class= 'test' ng-controller = 'TweetCtrl as tweet'>


<div class="container">

	<input ng-change="increment()" ng-model='search' name='search' type="text">
</div>

<button ng-click="find_tweets()">find tweets!</button>
<button ng-click="this.test()">test!</button>

<div ng-repeat='n in json'>
	{{n}}
</div>

</div>

<ul>
	<%= @tweets.each do |x| %> 
		<li><%= x %></li>
	<% end %>
</ul>
