
.nyan {
	background-image: url('nyan.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
    


.brand-logo{
    padding-left: 20px;
}

.seasons {
	text-transform: uppercase;
	text-align: center;
}

#image {
    background-image: url('nyan.jpg');
    background-size: cover;
}

#title {
    font-family: 'Droid Serif', serif;
}

#logo {
    font-weight: bold;
    padding-left: 20px;
}

#search-field {
    font-size: 90%;
    width: 200px;
}

#search-board{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

#episode-header {
    font-size: 100%;
}

#season-table {
}

#season-container{
    height: inherit;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}

body {
    height: 100%;
}

.row {
    height: 100%;
}

#content-container{
    padding: 30px;
}

.card-title {
    font-size: 80%;
}