 
.nyan {
	background-image: url('nyan.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.seasons {
	text-transform: uppercase;
	text-align: center;
}

#image {
    background-image: url('nyan.jpg');
    background-size: cover;
}